@charset "utf-8";
/* CSS Document */
.option-box .gear-cheak,
.navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:focus, 
 .navbar-inverse .navbar-nav>.active>a:hover,
 .dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover,
.carousel-indicators .active

{
	background-color:#DC1A1A;
	
}
.option-box .color-option,
.testmonial .carousel-indicators li.active 

{border:4px solid #DC1A1A;
}


.dropdown-menu
{
	border-top:#dc1a1a solid 3px;
	

}

.dropdown-menu .divider
{background-color:#5a1e1e}

.about span,
.navbar-inverse .navbar-brand span,
.testmonial span,
.footer h3,
.copyright span,
.color-option h4,
.small span
{
	color:#dc1a1a;
}





